# osu! OAuth Application from https://osu.ppy.sh/home/account/edit#oauth
# For user login, register Application with callback URL:
# http://localhost:3000/api/auth/callback/osu
OSU_CLIENT_ID=
OSU_CLIENT_SECRET=

# Public application URL (default: http://localhost:3000 in dev)
NEXT_PUBLIC_APP_URL=http://localhost:3000

# PostgreSQL database connection URL (pgsql)
# Format: postgres://username:password@localhost:5432/osu_search
DATABASE_URL=
